:root {
    --background-color-primary: #50a9c0;
    --background-color-secondary: #daeff3;
    --text-color-primary: #274352;
    --text-color-secondary: #f0f9fb;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
    font-family: 'Montserrat', sans-serif;
    max-width: 1440px;
}

h1{
    font-size: 22px;
    font-weight: 700;
}

p{
    font-size: 14px;
    font-weight: 400;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-top {
    width: 100%;
    height: 100px;
    background-color: var(--background-color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50% 50%;
    line-height: 1.5;
}

.text-top-main {
    margin-top: 20px;
}

.container-scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 15px auto;
}

.container-scoreboard-numbers {
    display: flex;
    justify-content: center;
    background-color: var(--background-color-secondary);
    border: 1px solid var(--text-color-primary);
    padding: 10px 15px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 16px;
}

.container-scoreboard-numbers p {
    margin: auto 5px;
}

.container-scoreboard-player {
    background-color: var(--background-color-secondary);
    border: 1px solid var(--text-color-primary);
    padding: 5px 10px;
    border-radius: 20px;
}

.container-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
}

.container-elements button {
    width: 30%;
    border-radius: 25px;
    border: 1px solid var(--text-color-primary);
    transition: 100ms;
}
.container-elements button:hover {
    transform: scale(1.1);
}
.container-elements button:active {
    transform: scale(0.9);
}

.container-elements button img {
    width: 40%;
}
.text-bottom-main {
    margin-top: 30px;
    font-weight: 700;
}

#roundText, #playerSelec, #machineSelec, #result {
    line-height: 1.4;
    font-size: 12;
    display: flex;
    justify-content: center;
}

#roundText span,
#playerSelec b,
#machineSelec b {
    margin-left: 6px;
}

.btnRefrescar {
    display: none;
    background-color: var(--background-color-secondary);
    border: 2px solid var(--text-color-primary);
    color: var(--text-color-primary);
    padding: 15px 20px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 20px;
    transition: 100ms;
    margin-top: 30px;
}

.btnRefrescar:hover{
    transform: scale(1.1);
}
.btnRefrescar:active{
    transform: scale(0.9);
}
.imgTrophy {
    display: none;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
    animation: scale 3s infinite;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}
.sadFace {
    display: none;
    width: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    animation: scale2 4s infinite;
}

@keyframes scale2 {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(0.8);
    }
}

@media (min-width: 425px) {
    h1 {
        font-size: 26px;
    }

    p {
        font-size: 16px;
    }

    .container-scoreboard {
        width: 80%;
        margin: 20px auto;
    }

    .container-scoreboard-numbers {
        padding: 15px 20px;
        font-size: 18px;
    }

    .container-scoreboard-numbers p {
        margin: auto 8px;
    }

    .container-scoreboard-player {
        padding: 8px 12px;
    }

    .container-elements {
        width: 75%;
        margin: 20px auto;
    }
}
@media (min-width: 600px) {
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 18px;
    }
    .container-scoreboard {
        width: 60%;
    }
    .container-elements {
        width: 65%;
    }
        #roundText,
        #playerSelec,
        #machineSelec,
        #result {
            font-size: 14;
        }
}
@media (min-width: 769px) {
    h1 {
        font-size: 32px;
    }
    .container-scoreboard {
        width: 50%;
    }
    .container-scoreboard-numbers {
        padding: 20px 30px;
        font-size: 18px;
    }
    .container-scoreboard-player {
        padding: 10px 20px;
    }
    .container-elements {
        width: 55%;
    }
        #roundText,
        #playerSelec,
        #machineSelec,
        #result {
            font-size: 18;
        }
}
@media (min-width: 1000px) {
    .container-scoreboard {
        width: 40%;
    }
    .container-elements {
        width: 40%;
    }
    .container-scoreboard {
        margin: 25px auto;
    }
    .container-scoreboard-numbers p {
        margin: auto 10px;
    }
    .text-bottom-main {
       margin-top: 40px;
    }
}